@import "tailwindcss";

@theme {
  --color-light-sage: #cdd4cc;
  --color-sage-100: #F0F2F0;
  --color-sage-200: #ebeeeb;
  --color-sage-300: #e1e5e0;
  --color-sage-400: #d7ddd6;
  --color-sage-500: #cdd4cc;
  --color-sage-600: #bdc6bb;
  --color-sage-700: #adb8ab;
  --color-sage-800: #9caa9a;
  --color-khaki-200: #f6f4f1;
  --color-khaki-300: #f1eeea;
  --color-khaki-400: #ede9e3;
  --color-khaki-500: #e8e3dc;
  --color-khaki-600: #d0c8be;
  --color-khaki-700: #b7aea1;
  --color-khaki-800: #9f9383;
  --color-bg-khaki: #f0ece9;
  --color-text-black: #27272a;
}

@layer base {
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    line-height: 160%;
    font-family: "Plus Jakarta Sans", sans-serif;

    @apply text-text-black font-light text-[14.5px];
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-medium relative z-10 mb-4;
  }

  h1 {
    @apply text-5xl leading-[160%] tracking-[0.15px];
  }

  h2 {
    @apply text-3xl leading-[160%] tracking-[0.15px];
  }

  h3 {
    @apply text-xl leading-[160%] tracking-[0.15px];
  }

  p {
    @apply mb-2 leading-[160%] tracking-[0.15px];
  }
}
